html,
body {
    overflow-x: hidden;
    font-family: sans-serif;
    color: #444444;
    background-color: rgb(78, 78, 78);
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

html,
body {
    overflow-x: hidden;
    font-family: sans-serif;
    color: #444444;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 30px;
    background-image: url(../images/header\ background\ image.jpg);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    animation: transitionIn 1s ease-in;
}

header::before {
    position: absolute;
    left: 0;
    top: 10%;
    bottom: 0;
    right: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
}

header::after {
    position: relative;
}

header .logo {
    display: flex;
    justify-content: space-between;
}

header .logo h1 {
    font-size: 35px;
    color: #fff;
}

header .logo .logo-dot {
    color: #ffc451;
}

header .lists-flex ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

header .lists-flex ul li {
    margin: 10px;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}

header .lists-flex ul li:hover {
    color: #facd74;
    transition: 0.3s ease-in;
}

header .lists-flex ul #important-li {
    color: #ffc451;
}

header .header-btn a button {
    width: 130px;
    padding: 8px;
    border: 2px solid #ffc451;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

header .header-btn a {
    margin: 0 60px 0 0;
}

header .header-btn a button:hover {
    background: #ffc451;
    color: #444;
    transition: 0.3s all linear;
}

header .none-menu a {
    margin: 0 60px 0 0;
}

header .none-menu {
    display: none;
}

.sidebar {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    background: #333;
    left: -100%;
    top: 130px;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li a {
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.sidebar ul li ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: white;
    padding: 0 0 0 40px;
    transition: .5s all linear;
    position: relative;
    right: 200px;
}

.sidebar ul li ul li:hover a {
    color: #facd74;
    transition: 0.3s ease-in;
}

#check {
    display: none;
    position: relative;
}

label #btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border-radius: 6px;
    left: 90%;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
}

label #cancel {
    position: absolute;
    z-index: 1111;
    left: -80%;
    top: 1%;
    font-size: 25px;
    padding: 6px 12px;
    color: #333;
    cursor: pointer;
}

#check:checked~.sidebar {
    left: 100px;
}

#check:checked~label #btn {
    opacity: 1;
    pointer-events: none;
    z-index: 1;
}

#check:checked~label #cancel {
    left: 1%;
}

.blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog .row {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.blog .row .col {
    flex-basis: 50%;
}

.blog .row .col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border: 3px solid #444;
}

.blog .row .col img:hover {
    filter: brightness(50%);
    transition: 0.3s ease-in;
    border: 3px solid #fff;
}

.blog .row .col h1 {
    font-size: 35px;
    font-family: sans-serif;
    color: #fff;
}

.blog .row .col h2 {
    font-size: 26px;
    font-family: sans-serif;
    color: #c5c4c4;
}

.blog .row .col h4 {
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(200, 200, 200);
}

.info {
    padding: 150px;
    background-color: #444;
}

.info .row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.info .row .col {
    flex-basis: 50%;
    font-family: sans-serif;
    color: #fff;
}

.info .row .col h2 {
    font-size: 26px;
}

.info .row .col h4 {
    font-size: 16px;
}

.bright {
    padding: 150px;
    background-color: #fff;
}

.bright .row {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.bright .row .col {
    flex-basis: 50%;
    color: #444;
    font-family: sans-serif;
}

.bright .row .col h2 {
    font-size: 26px;
}

.bright .row .col h4 {
    font-size: 16px;
}

footer {
    background: black;
}

footer .footer-top {
    padding: 100px;
    background-color: #151515;
    border-bottom: 1px solid #222222;
}

footer .footer-top .row .col a {
    color: #fff;
}

footer .footer-top .row .col a:hover {
    color: #facd74;
    transition: 0.3s ease-in;
}

footer .footer-bottom {
    padding: 100px;
    background: black;
}

footer .row {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    padding: 10px 0 10px 0;
}

footer .row .col {
    flex-basis: 25%;
    color: #fff;
}

footer .row .col .icons {
    display: block;
}

footer .row .col .icons i {
    font-size: 20px;
    padding: 10px;
    border: #292929;
    background: #292929;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

footer .row .col .icons i:hover {
    background: #ffc451;
    color: #000;
    transition: 0.3s ease-in;
}

footer .row .col input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #000;
}

footer .row .col a button {
    float: right;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
    color: #000;
    background: #ffc451;
    cursor: pointer;
}

footer .row .col a button:hover {
    background: #facd74;
    transition: 0.3s ease-out;
}

footer .center {
    text-align: center;
}

footer .center h1 {
    font-size: 20px;
    color: #fff;
}

footer .center h2 {
    font-size: 15px;
    color: #fff;
}

footer .important {
    color: #ffc451;
}

footer .myName {
    color: #ffc451;
}

@media only screen and (max-width:600px) {
    html,
    body {
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    header {
        padding: 20px;
        margin: 0;
        height: 160vh;
    }
    header::before {
        top: 10%;
    }
    header .lists-flex {
        display: none;
    }
    header .none-menu {
        display: block;
    }
    label #btn {
        left: 78%;
        top: 2%;
    }
    .sidebar ul li ul li a {
        right: 0;
        top: 50px;
        color: #222222;
        width: 80%;
    }
    #check:checked~.sidebar {
        left: 35px;
        bottom: -70px;
        background: white;
        height: 80vh;
        z-index: 1;
    }
    #check:checked~.blog {
        display: none;
    }
    #check:checked~label #cancel {
        top: 4.5%;
        left: 80%;
        font-size: 30px;
        color: #fff;
    }
    .sidebar ul li ul li:hover a {
        color: #333;
        transition: 0.3s ease-in;
        background: #facd74;
    }
    #firstList {
        background: #facd74;
        color: #333;
    }
    .blog {
        top: 90%;
    }
    .blog .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .info {
        padding: 20px;
    }
    .info .row {
        flex-direction: column;
    }
    .info .row .col {
        align-self: unset;
        padding: 10px 0 10px 0;
    }
    .bright {
        padding: 20px;
    }
    .bright .row {
        flex-direction: column;
        row-gap: 20px;
    }
    footer .footer-top {
        padding: 20px;
    }
    .footer-top .row {
        flex-direction: column;
        row-gap: 20px;
    }
    footer .row .col input {
        width: 97%;
    }
    footer .footer-bottom {
        padding: 20px;
    }
}

@media only screen and (min-width:601px) and (max-width:820px) {
    html,
    body {
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    header {
        padding: 20px 0 20px 0;
        height: 100vh;
    }
    header .lists-flex {
        display: none;
    }
    header .none-menu {
        display: block;
    }
    label #btn {
        top: 2%;
    }
    #check:checked~.sidebar {
        left: 35px;
        bottom: -70px;
        width: 90%;
        z-index: 1;
        background-color: #fff;
    }
    #check:checked~label #cancel {
        top: 12%;
        left: 12%;
        font-size: 30px;
        color: #333;
    }
    .sidebar ul li ul li a {
        right: 10px;
        width: 70%;
        color: #333;
    }
    .sidebar ul li ul li:hover a {
        color: #333;
        transition: 0.3s ease-in;
        background: #facd74;
    }
    #firstList {
        background: #facd74;
        color: #333;
    }
    .blog {
        top: 60%;
    }
    .blog .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .info,
    .bright {
        padding: 30px;
    }
    .info .row,
    .bright .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .info .row .col {
        align-self: unset;
    }
    header .none-menu a {
        margin: 0 auto;
    }
    header .none-menu {
        padding: 0 20px 0 0;
    }
    header .header-btn a {
        margin: 0 auto;
    }
    footer .footer-top {
        padding: 50px;
    }
    footer .row {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media only screen and (min-width:821px) and (max-width:920px) {
    html,
    body {
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    label #btn {
        top: 2%;
    }
    header {
        padding: 20px 0 20px 0;
        height: 110vh;
    }
    header .lists-flex {
        display: none;
    }
    header .none-menu {
        display: block;
    }
    header .header-btn a {
        margin: 0 auto;
    }
    .sidebar ul li ul li a {
        right: 0;
        width: 90%;
        color: #333;
    }
    #check:checked~.sidebar {
        z-index: 1;
        background-color: #fff;
    }
    .sidebar ul li ul li:hover a {
        color: #333;
        transition: 0.3s ease-in;
        background: #facd74;
    }
    #firstList {
        background: #facd74;
        color: #333;
    }
    #check:checked~label #cancel {
        top: 11%;
        left: 11%;
    }
    .blog {
        top: 60%;
    }
    .blog .row {
        flex-direction: column;
        row-gap: 20px;
    }
    .info,
    .bright {
        padding: 50px;
    }
    footer .footer-top {
        padding: 50px;
    }
    footer .row {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media only screen and (min-width:921px) and (max-width:1080px) {
    html,
    body {
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    .blog .row {
        column-gap: unset;
    }
    .info,
    .bright {
        padding: 100px;
    }
    footer .footer-top {
        padding: 50px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1240px) {
    html,
    body {
        overflow-x: hidden;
    }
    * {
        padding: 0;
        margin: 0;
    }
     ::-webkit-scrollbar {
        display: none;
    }
    .info,
    .bright {
        padding: 125px;
    }
}